<p>
  <strong>Model:</strong>
  <%= @plane.model %>
</p>

<p>
   <strong>Max speed:</strong>
   <%= @plane.max_speed %>
</p>

<p>
  <%= image_tag(@plane.avatar_url(:thumb)) %>
</p>

<%= link_to 'New country', new_admin_flight_plane_country_path(@flight, @plane) %>|
<%= link_to 'All countries', admin_flight_plane_countries_path(@flight, @plane) %><br /><br />
<%= link_to 'Edit', edit_admin_flight_plane_path(@flight, @plane) %>
<%= link_to 'Back', admin_flight_planes_path %>
