<h2>Add sity</h2>
<%= form_with scope: :sity, url: admin_flight_plane_country_sities_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', admin_flight_plane_country_sities_path %>
<%= link_to 'Root', admin_flights_path %>
