<h1>Listing cooks</h1>
<%= link_to 'New cook', new_cook_path %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

  <% @cooks.each do |cook| %>
  <tr>
    <td><%= cook.name %></td>
    <td><%= link_to 'Show', cook_path(cook) %></td>
    <td><%= link_to 'Edit', edit_cook_path(cook) %></td>
    <td><%= link_to 'Destroy', cook_path(cook),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
