<h2>Add a plane</h2>
<%= form_with scope: :plane, url: flight_planes_path, local: true do |form| %>
  <p>
    <%= form.label :model %><br />
    <%= form.text_field :model %>
  </p>
  <p>
    <%= form.label :max_speed %><br />
    <%= form.number_field :max_speed %>
  </p>
  <p>
    <%= form.file_field :avatar %><br><br>
    <%= form.fields_for :countries do |ff| %>
    <%= ff.label :name, 'Country name' %><br><br>
    <%= ff.text_field :name %><br><br>
  <% end %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', flight_planes_path %>
<%= link_to 'Root', flights_path %>
