<h1>Editing sity</h1>
<%= form_with(model: @sity, url: flight_plane_country_sity_path, method: :patch, local: true) do |form| %>

<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>
<%= link_to 'Back', flight_plane_country_sities_path %>
