<h1>Editing menu</h1>
<%= form_with(model: @menu, url: cook_waiter_visitor_menu_path, method: :patch, local: true) do |form| %>

<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>
<%= link_to 'Back', cook_waiter_visitor_path(@cook, @waiter, @visitor)
