<h1>New visitor</h1>
<%= form_with scope: :visitor, url: cook_waiter_visitors_path, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', cook_waiter_visitors_path %>
<%= link_to 'Cooks', cooks_path %>
